In [39]:
import os
import json
import pandas as pd
import numpy as np

In [14]:
def convert_json_to_csv(folder_path, output_folder):

    output_files = []
    
    try:
        if not os.path.exists(output_folder):
            os.makedirs(output_folder)
            
        for file in os.listdir(folder_path):
            if file.endswith(".json"):
                file_path = os.path.join(folder_path, file)

                with open(file_path, 'r', encoding='utf-8-sig') as json_file:
                    data = json.load(json_file)
                    data = pd.json_normalize(data)

                df = pd.DataFrame(data)
                csv_file_path = os.path.join(output_folder, file.replace('.json', '.csv'))
                df.to_csv(csv_file_path, index=False)
                output_files.append(csv_file_path)

        return output_files
    except Exception as e:
        return str(e)

In [15]:
folder_path = './sample_check'
output_folder = './sample_check'
output_files = convert_json_to_csv(folder_path, output_folder)
print(output_files)

['./sample_check\\IMG_0446250_person(person)_(4_3).csv']

In [17]:
df = pd.read_csv('./sample_check/IMG_0446250_person(person)_(4_3).csv', encoding='utf-8')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   categories          1 non-null      object
 1   images              1 non-null      object
 2   annotations         1 non-null      object
 3   info.description    1 non-null      object
 4   info.version        1 non-null      float64
 5   info.date_year      1 non-null      int64
 6   info.main_category  1 non-null      object
dtypes: float64(1), int64(1), object(5)
memory usage: 188.0+ bytes

In [19]:
df['annotations'][0]

"[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'The subject of the picture is person.'}, {'korean': '농구골대는 농구 코트에 설치되어 있습니다.', 'english': 'The basketball hoop is installed on the basketball court.'}, {'korean': '농구골대가 사진에 찍혀 있습니다.', 'english': 'The basketball hoop is pictured.'}, {'korean': '농구골대는 이 사진의 주제가 아닙니다.', 'english': 'basketball hoop is not the subject of this photo.'}, {'korean': '백팩은 물건을 담는 용도로 사용됩니다.', 'english': 'Backpacks are used to hold things.'}, {'korean': '백팩이 사진에 찍혀 있습니다.', 'english': 'The backpack1 is pictured.'}, {'korean': '백팩은 이 사진의 주제가 아닙니다.', 'english': 'backpack1 is not the subject of this photo.'}, {'korean': '이 사진은 사람이 찍혀 있으므로 인물 사진입니다.', 'english': 'This picture is a picture of a person because a person is taken.'}, {'korean': '사람이 사진에 찍혀 있습니다.', 'english': 'The person is pictured.'}, {'korean': '농구골대는 사진의 왼쪽 위에 있습니다.', 'english': 'basketball hoop is on the left side top of the picture.'}, {'korean': '백팩1은 사진의 왼쪽 중간에 있습니다.', 'english': 'backpack1 is on the left side of the picture.'}, {'korean': '사람은 사진의 오른쪽 중간에 있습니다.', 'english': 'person is on the right side of the picture.'}, {'korean': '백팩2는 사진의 중간에 있습니다.', 'english': 'backpack2 is in the center of the picture.'}, {'korean': '백팩1은 백팩들 중에서 사진의 가장 왼쪽에 있습니다.', 'english': 'backpack1 is the leftmost of the same elements.'}, {'korean': '백팩2는 백팩들 중에서 사진의 가장 오른쪽에 있습니다.', 'english': 'backpack2 is the rightmost of the same elements.'}, {'korean': '백팩1은 백팩들 중에서 사진의 가장 위쪽에 있습니다.', 'english': 'backpack1 is the upmost of the same elements.'}, {'korean': '백팩2는 백팩들 중에서 사진의 가장 아래쪽에 있습니다.', 'english': 'backpack2 is the lowermost of the same elements.'}, {'korean': '농구골대는 백팩1보다 위에 위치해 있습니다.', 'english': 'basketball hoop is above backpack1.'}, {'korean': '농구골대는 사람보다 왼쪽 위에 위치해 있습니다.', 'english': 'basketball hoop is on the left side top of person.'}, {'korean': '농구골대는 백팩2보다 왼쪽 위에 위치해 있습니다.', 'english': 'basketball hoop is on the left side top of backpack2.'}, {'korean': '백팩1은 사람보다 왼쪽에 위치해 있습니다.', 'english': 'backpack1 is on the left side of person.'}, {'korean': '백팩1은 백팩2보다 왼쪽에 위치해 있습니다.', 'english': 'backpack1 is on the left side of backpack2.'}, {'korean': '백팩2는 사람보다 아래에 위치해 있습니다.', 'english': 'backpack2 is below person.'}, {'korean': '농구골대는 백팩1보다 크게 찍혀 있습니다.', 'english': 'basketball hoop was photographed larger than backpack1.'}, {'korean': '농구골대는 사람보다 크게 찍혀 있습니다.', 'english': 'basketball hoop was photographed larger than person.'}, {'korean': '농구골대는 백팩2보다 크게 찍혀 있습니다.', 'english': 'basketball hoop was photographed larger than backpack2.'}, {'korean': '사람은 백팩1보다 크게 찍혀 있습니다.', 'english': 'person was photographed larger than backpack1.'}, {'korean': '백팩2는 백팩1보다 크게 찍혀 있습니다.', 'english': 'backpack2 was photographed larger than backpack1.'}, {'korean': '사람은 백팩2보다 크게 찍혀 있습니다.', 'english': 'person was photographed larger than backpack2.'}]"

In [21]:
df['categories'][0]

"[{'supercategory': 'person', 'id': '1', 'name': 'person'}]"

In [34]:
print(df['images'][0])

[{'id': '0446250', 'height': 1920, 'width': 1440, 'file_name': 'IMG_0446250_person(person).jpg'}]

In [60]:
new_data = []
for item in df['images']:
    if item:
        new_data.append(item[0])

new_df = pd.DataFrame(new_data)

In [61]:
new_df

   0
0  [

In [51]:
image_info

[{'id': '0446250',
  'height': 1920,
  'width': 1440,
  'file_name': 'IMG_0446250_person(person).jpg'}]

In [44]:
new_df = pd.DataFrame(new_data)

In [45]:
new_df

   0
0  [

In [23]:
df['info.description']

0    이미지 설명문 추출 및 생성용 한국형 비전 데이터셋
Name: info.description, dtype: object

In [26]:
df['info.main_category'][0]

'person'

In [ ]:
## 컬럼 구성 및 분리
    ## categories => del
    ## images => id, width, height, fname
    ## annotations => extract en sentences
    ## info.description => del
    ## info.version => del
    ## info.date_year => del
    ## info.main_category => rename: category

In [30]:
df.columns

Index(['categories', 'images', 'annotations', 'info.description',
       'info.version', 'info.date_year', 'info.main_category'],
      dtype='object')

In [31]:
df_sel = df[['images', 'annotations', 'info.main_category']].copy()

In [32]:
df_sel.rename(columns={'info.main_category' : 'category'}, inplace=True)

In [33]:
df_sel.head()

,images,annotations,category
0,"[{'id': '0446250', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",person

In [104]:
## single json => merged dataframe

import os
import json
import pandas as pd
import numpy as np


folder_path = r'./sample_check'
df_list = []

for filename in os.listdir(folder_path):
    if filename.endswith('.json'):
        file_path = os.path.join(folder_path, filename)

        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                data = json.load(file)
                data = pd.json_normalize(data)

            df_list.append(data)
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON in file {filename}: {e}")

if df_list:
    merged_df = pd.concat(df_list, ignore_index=True)
    print(merged_df)
else:
    print("No valid JSON files found.")

                                             categories  \
0     [{'supercategory': 'person', 'id': '1', 'name'...
1     [{'supercategory': 'person', 'id': '1', 'name'...
2     [{'supercategory': 'person', 'id': '1', 'name'...
3     [{'supercategory': 'person', 'id': '1', 'name'...
4     [{'supercategory': 'person', 'id': '1', 'name'...
...                                                 ...
2995  [{'supercategory': 'person', 'id': '1', 'name'...
2996  [{'supercategory': 'person', 'id': '1', 'name'...
2997  [{'supercategory': 'person', 'id': '1', 'name'...
2998  [{'supercategory': 'person', 'id': '1', 'name'...
2999  [{'supercategory': 'person', 'id': '1', 'name'...

                                                 images  \
0     [{'id': '0446250', 'height': 1920, 'width': 14...
1     [{'id': '0446251', 'height': 1920, 'width': 10...
2     [{'id': '0446252', 'height': 1920, 'width': 10...
3     [{'id': '0446253', 'height': 1920, 'width': 10...
4     [{'id': '0446255', 'height': 1920, 'width': 10...
...                                                 ...
2995  [{'id': '0449588', 'height': 1920, 'width': 10...
2996  [{'id': '0449590', 'height': 1920, 'width': 10...
2997  [{'id': '0449591', 'height': 1920, 'width': 14...
2998  [{'id': '0449592', 'height': 1920, 'width': 10...
2999  [{'id': '0449593', 'height': 1920, 'width': 10...

                                            annotations  \
0     [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
1     [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2     [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
3     [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
4     [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
...                                                 ...
2995  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2996  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2997  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2998  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2999  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...

                  info.description info.version info.date_year  \
0     이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
1     이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2     이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
3     이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
4     이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
...                            ...          ...            ...
2995  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2996  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2997  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2998  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2999  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022

     info.main_category
0                person
1                person
2                person
3                person
4                person
...                 ...
2995             person
2996             person
2997             person
2998             person
2999             person

[3000 rows x 7 columns]

In [105]:
merged_df.to_csv('./merged_df/image_caption_label_merged.csv',encoding='utf-8', index=False)

In [106]:
df_check = pd.read_csv('./merged_df/image_caption_label_merged.csv', encoding='utf-8')
df_check.head(2)

,categories,images,annotations,info.description,info.version,info.date_year,info.main_category
0,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0446250', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0446251', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person

In [107]:
df_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   categories          3000 non-null   object
 1   images              3000 non-null   object
 2   annotations         3000 non-null   object
 3   info.description    3000 non-null   object
 4   info.version        3000 non-null   float64
 5   info.date_year      3000 non-null   int64
 6   info.main_category  3000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 164.2+ KB

In [98]:
df_divid = df_check.iloc[1500:]

In [100]:
df_divid.reset_index()

,index,categories,images,annotations,info.description,info.version,info.date_year,info.main_category
0,1500,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0447937', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1,1501,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0447938', 'height': 1080, 'width': 19...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
2,1502,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0447939', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
3,1503,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0447940', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
4,1504,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0447941', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
...,...,...,...,...,...,...,...,...
1495,2995,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0449588', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1496,2996,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0449590', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1497,2997,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0449591', 'height': 1920, 'width': 14...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1498,2998,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0449592', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person
1499,2999,"[{'supercategory': 'person', 'id': '1', 'name'...","[{'id': '0449593', 'height': 1920, 'width': 10...","[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...",이미지 설명문 추출 및 생성용 한국형 비전 데이터셋,1.0,2022,person

In [101]:
df_divid.to_csv('./merged_df/image_caption_label_raw_1500_3000_kim.csv', encoding='utf-8', index=False)

In [108]:
df_kwon = df_check.iloc[0:1500]
df_kwon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   categories          1500 non-null   object
 1   images              1500 non-null   object
 2   annotations         1500 non-null   object
 3   info.description    1500 non-null   object
 4   info.version        1500 non-null   float64
 5   info.date_year      1500 non-null   int64
 6   info.main_category  1500 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 82.2+ KB

In [109]:
df_kwon.to_csv('./merged_df/image_caption_label_raw_1500_kwon.csv', encoding='utf-8', index=False)

In [ ]:
## select columns and rename

df_sel = merged_df[['images', 'annotations', 'info.main_category']].copy()
df_sel.rename(columns={'info.main_category' : 'category'}, inplace=True)
df_sel.head(2)

In [ ]:
df_sel.to_csv('./merged_df/image_caption_label_select.csv', encoding='utf-8', index=False)

In [64]:
with open('./sample_check/IMG_0446250_person(person)_(4_3).json', 'r', encoding='utf-8') as file:
    data = json.load(file)
    data = pd.json_normalize(data)
    
df = pd.DataFrame(data)

new_data = []
for item in df['images']:
    if item:
        new_data.append(item[0])

new_df = pd.DataFrame(new_data)

In [65]:
new_df

        id  height  width                       file_name
0  0446250    1920   1440  IMG_0446250_person(person).jpg

In [66]:
folder_path = './sample_check'
df_list = []

for filename in os.listdir(folder_path):
    if filename.endswith('.json'):
        file_path = os.path.join(folder_path, filename)

        try:
            with open(file_path, 'r', encoding='utf-8') as file:
                data = json.load(file)

            df_list.append(pd.json_normalize(data))
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON in file {filename}: {e}")

if df_list:
    merged_df = pd.concat(df_list, ignore_index=True)
    print(merged_df)
else:
    print("No valid JSON files found.")

                                           categories  \
0   [{'supercategory': 'person', 'id': '1', 'name'...
1   [{'supercategory': 'person', 'id': '1', 'name'...
2   [{'supercategory': 'person', 'id': '1', 'name'...
3   [{'supercategory': 'person', 'id': '1', 'name'...
4   [{'supercategory': 'person', 'id': '1', 'name'...
..                                                ...
95  [{'supercategory': 'person', 'id': '1', 'name'...
96  [{'supercategory': 'person', 'id': '1', 'name'...
97  [{'supercategory': 'person', 'id': '1', 'name'...
98  [{'supercategory': 'person', 'id': '1', 'name'...
99  [{'supercategory': 'person', 'id': '1', 'name'...

                                               images  \
0   [{'id': '0446250', 'height': 1920, 'width': 14...
1   [{'id': '0446251', 'height': 1920, 'width': 10...
2   [{'id': '0446252', 'height': 1920, 'width': 10...
3   [{'id': '0446253', 'height': 1920, 'width': 10...
4   [{'id': '0446255', 'height': 1920, 'width': 10...
..                                                ...
95  [{'id': '0446363', 'height': 1920, 'width': 10...
96  [{'id': '0446364', 'height': 1920, 'width': 14...
97  [{'id': '0446365', 'height': 1920, 'width': 10...
98  [{'id': '0446366', 'height': 1920, 'width': 10...
99  [{'id': '0446368', 'height': 1920, 'width': 14...

                                          annotations  \
0   [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
1   [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
2   [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
3   [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
4   [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
..                                                ...
95  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
96  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
97  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
98  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...
99  [{'korean': '이 사진의 주제는 사람입니다.', 'english': 'Th...

                info.description info.version info.date_year  \
0   이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
1   이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
2   이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
3   이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
4   이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
..                           ...          ...            ...
95  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
96  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
97  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
98  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022
99  이미지 설명문 추출 및 생성용 한국형 비전 데이터셋          1.0           2022

   info.main_category
0              person
1              person
2              person
3              person
4              person
..                ...
95             person
96             person
97             person
98             person
99             person

[100 rows x 7 columns]

In [68]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   categories          100 non-null    object
 1   images              100 non-null    object
 2   annotations         100 non-null    object
 3   info.description    100 non-null    object
 4   info.version        100 non-null    object
 5   info.date_year      100 non-null    object
 6   info.main_category  100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [83]:

print(merged_df['annotations'][2])

[{'korean': '이 사진의 주제는 사람입니다.', 'english': 'The subject of the picture is person.'}, {'korean': '이 사진은 사람이 찍혀 있으므로 인물 사진입니다.', 'english': 'This picture is a picture of a person because a person is taken.'}, {'korean': '사람이 사진에 찍혀 있습니다.', 'english': 'The person is pictured.'}, {'korean': '커틀러리는 식사를 할 때 사용합니다.', 'english': 'Cutlery is used for meals.'}, {'korean': '커틀러리가 사진에 찍혀 있습니다.', 'english': 'The cutlery is pictured.'}, {'korean': '커틀러리는 이 사진의 주제가 아닙니다.', 'english': 'cutlery is not the subject of this photo.'}, {'korean': '사람은 사진의 중간에 있습니다.', 'english': 'person is in the center of the picture.'}, {'korean': '커틀러리는 사진의 오른쪽 아래에 있습니다.', 'english': 'cutlery is on the right side bottom of the picture.'}, {'korean': '커틀러리는 사람보다 오른쪽 아래에 위치해 있습니다.', 'english': 'cutlery is on the right side bottom of person.'}, {'korean': '사람은 커틀러리보다 크게 찍혀 있습니다.', 'english': 'person was photographed larger than cutlery.'}]

In [80]:
def extract_english(annotations):
    return [d['english'] for d in annotations if 'english' in d]

def list_to_string(lst):
    return ' '.join(lst)

In [84]:
merged_df['sentence_en'] = merged_df['annotations'].apply(extract_english)

In [82]:
# merged_df['sentence_en'] = merged_df['sentence_en'].apply(list_to_string)

In [88]:
subject_sent = merged_df['sentence_en'][0][0]
merged_df['sentence_subject'] = subject_sent

In [90]:
merged_df['images'][0]

[{'id': '0446250',
  'height': 1920,
  'width': 1440,
  'file_name': 'IMG_0446250_person(person).jpg'}]

In [ ]:
#################################################################################################

In [ ]:
## json -> df
    ## json open
    ## json normalize and transform(to dataframe)
    ## dataframe preprocessing
    ## dataframe concat
    ## merged dataframe save(csv format)

## index split(each member works 1500 instances)
    ## kwon: index 0~14999
    ## kim: 15000~2999

In [120]:
folder_path = './sample_check'
json_files = [file for file in os.listdir(folder_path) if file.endswith('.json')]

df_list = []

for json_file in json_files:
    file_path = os.path.join(folder_path, json_file)
    
    with open(file_path, 'r', encoding='utf-8') as file:
        data = json.load(file)
        data = pd.json_normalize(data)
    df = pd.DataFrame(data)
    new_data = []
    for item in df['images']:
        if item:
            new_data.append(item[0])
    new_df = pd.DataFrame(new_data)
    
    df_list.append(new_df)

if df_list:
    merged_df = pd.concat(df_list, ignore_index=True)
    print(merged_df)
else:
    print("No valid JSON files found.")

           id  height  width                       file_name
0     0446250    1920   1440  IMG_0446250_person(person).jpg
1     0446251    1920   1080  IMG_0446251_person(person).jpg
2     0446252    1920   1080  IMG_0446252_person(person).jpg
3     0446253    1920   1080  IMG_0446253_person(person).jpg
4     0446255    1920   1080  IMG_0446255_person(person).jpg
...       ...     ...    ...                             ...
2995  0449588    1920   1080  IMG_0449588_person(person).jpg
2996  0449590    1920   1080  IMG_0449590_person(person).jpg
2997  0449591    1920   1440  IMG_0449591_person(person).jpg
2998  0449592    1920   1080  IMG_0449592_person(person).jpg
2999  0449593    1920   1080  IMG_0449593_person(person).jpg

[3000 rows x 4 columns]

In [121]:
merged_df['category'] = 'person'
merged_df.head()

        id  height  width                       file_name category
0  0446250    1920   1440  IMG_0446250_person(person).jpg   person
1  0446251    1920   1080  IMG_0446251_person(person).jpg   person
2  0446252    1920   1080  IMG_0446252_person(person).jpg   person
3  0446253    1920   1080  IMG_0446253_person(person).jpg   person
4  0446255    1920   1080  IMG_0446255_person(person).jpg   person

In [122]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3000 non-null   object
 1   height     3000 non-null   int64
 2   width      3000 non-null   int64
 3   file_name  3000 non-null   object
 4   category   3000 non-null   object
dtypes: int64(2), object(3)
memory usage: 117.3+ KB

In [123]:
merged_df.to_csv('./merged_df/image_caption_label_preprocessed.csv', encoding='utf-8', index=False)

In [124]:
kwon = merged_df.iloc[:1500]
kim = merged_df.iloc[1500:3000]

In [115]:
kim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 1500 to 2999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1500 non-null   object
 1   height     1500 non-null   int64
 2   width      1500 non-null   int64
 3   file_name  1500 non-null   object
 4   category   1500 non-null   object
dtypes: int64(2), object(3)
memory usage: 58.7+ KB

In [125]:
kwon.to_csv('./merged_df/image_caption_label_preprocessed_kwon_1500.csv', encoding='utf-8', index=False)
kim.to_csv('./merged_df/image_caption_label_preprocessed_kim_3000.csv', encoding='utf-8', index=False)

In [126]:
kim_df = pd.read_csv('./merged_df/image_caption_label_preprocessed_kim_3000.csv', encoding='utf-8')
kim_df.head()

       id  height  width                       file_name category
0  447937    1920   1440  IMG_0447937_person(person).jpg   person
1  447938    1080   1920  IMG_0447938_person(person).jpg   person
2  447939    1920   1080  IMG_0447939_person(person).jpg   person
3  447940    1920   1440  IMG_0447940_person(person).jpg   person
4  447941    1920   1440  IMG_0447941_person(person).jpg   person