In [1]:
import pandas as pd
from IPython.display import Image, display
from ipywidgets import widgets, Layout, interactive
from IPython.display import clear_output
import numpy as np
import re

class description_write:
    def __init__(self, dataframe, data_name, img_dir, start_index):
        self.data = dataframe
        self.data_name = data_name
        self.img_dir = img_dir
        self.current_instance_idx = start_index
        self.text_input = widgets.Text(\
            placeholder="write the description",\
            layout=Layout(width="50%")\
        )
        self.output = widgets.Output()
        self.text_input.on_submit(self.handle_enter_press)
        self.next_button = widgets.Button(description="Next Instance")
        
        self.image_mapping = {}
        for image_id in self.data['file_name']:
            self.image_mapping[image_id] = image_id
        
        self.text_input.observe(self.on_text_input_change, names='value')
        self.next_button.on_click(self.next_instance)
        
        self.interactive_widget = interactive(self.display_current_instance,\
                                              instance_idx=widgets.IntSlider(min=0,\
                                                                             max=len(self.data)-1))
        display(self.interactive_widget)
        
    def show_image(self, image_id):
        image_filename = f"{self.img_dir}/{image_id}"
        display(Image(filename=image_filename, width=400, height=400))
        
    def display_current_instance(self, instance_idx):
        
        image_id = self.data.iloc[instance_idx]['file_name']
        id = self.data.iloc[instance_idx]['id']
        
        self.show_image(image_id)
        print('id: ', id)
        print('file_name: ', image_id)
        
        with self.output:
            clear_output()
        
        display(self.text_input)
        display(self.next_button)
        
        self.current_instance_idx = instance_idx
        
    def on_text_input_change(self, change):
        if change['new']:
            input_text = change['new']
            self.data.at[self.current_instance_idx, 'sentence_en'] = input_text
    
    def handle_enter_press(self,text_input):
        if self.text_input.value == '!save' or self.current_instance_idx == len(self.data) -1:
            self.save_and_close()
        else:
            self.next_instance(None)
            
    def save_and_close(self):
        self.text_input.close()
        self.output.close()
        self.next_button.close()
        self.data.to_csv(f"{self.data_name}{self.current_instance_idx}.csv", encoding='cp949', index=False)
        print(f"{self.data_name}{self.current_instance_idx}.csv saved")

    def next_instance(self, b):
        if self.current_instance_idx < len(self.data) -1:
            self.current_instance_idx += 1
            self.interactive_widget.children[0].value = self.current_instance_idx
            self.text_input.value = ""
        else:
            self.save_and_close()

In [2]:
df = pd.read_csv('./merged_df/image_caption_label_preprocessed_kwon_1500.csv', encoding='utf-8')
df.head()

       id  height  width                       file_name category
0  446250    1920   1440  IMG_0446250_person(person).jpg   person
1  446251    1920   1080  IMG_0446251_person(person).jpg   person
2  446252    1920   1080  IMG_0446252_person(person).jpg   person
3  446253    1920   1080  IMG_0446253_person(person).jpg   person
4  446255    1920   1080  IMG_0446255_person(person).jpg   person

In [3]:
img_dir = './sample_image_kwon'
start_index = 0
description_writer = description_write(df, 'description', img_dir, start_index)

C:\Users\KKM_AI_STUDY_LT\AppData\Local\Temp\ipykernel_14736\3754310697.py:19: DeprecationWarning: on_submit is deprecated. Instead, set the .continuous_update attribute to False and observe the value changing with: mywidget.observe(callback, 'value').
  self.text_input.on_submit(self.handle_enter_press)

interactive(children=(IntSlider(value=0, description='instance_idx', max=1499), Output()), _dom_classes=('widgâ€¦

In [28]:
df_check = pd.read_csv('description1.csv', encoding='utf-8')
df_check.head()

       id  height  width                       file_name category sentence_en
0  446250    1920   1440  IMG_0446250_person(person).jpg   person     the man
1  446251    1920   1080  IMG_0446251_person(person).jpg   person       !save
2  446252    1920   1080  IMG_0446252_person(person).jpg   person         NaN
3  446253    1920   1080  IMG_0446253_person(person).jpg   person         NaN
4  446255    1920   1080  IMG_0446255_person(person).jpg   person         NaN

In [9]:
## using only when writing work

!jt -t solarizedl -f bitstream -fs 12 -tf roboto -tfs 13 -nf opensans -nfs 12 -ofs 12 -dfs 12 -cellw 95% -lineh 150 -T -N

In [1]:
## normal theme
!jt -t oceans16 -f bitstream -fs 12 -tf roboto -tfs 13 -nf opensans -nfs 12 -ofs 12 -dfs 12 -cellw 95% -lineh 150 -T -N

In [8]:
df_300 = pd.read_csv('description301.csv', encoding='utf-8')
df_300.head()

       id  height  width                       file_name category sentence_en
0  446250    1920   1440  IMG_0446250_person(person).jpg   person         NaN
1  446251    1920   1080  IMG_0446251_person(person).jpg   person         NaN
2  446252    1920   1080  IMG_0446252_person(person).jpg   person         NaN
3  446253    1920   1080  IMG_0446253_person(person).jpg   person         NaN
4  446255    1920   1080  IMG_0446255_person(person).jpg   person         NaN

In [9]:
df_300.to_csv('kor_check.csv', encoding='cp949', index=False)